[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "==2.21.0"
tabulate = "==0.8.5"
argparse = "==1.4.0"
htb = "==1.1.0"

[requires]
python_version = "3.7"
